// Font

$font-stack: 'Work Sans', sans-serif;
$font-title: 'Playfair Display', serif;

// Font weight

$font-extra-light: 200;
$font-light: 300;
$font-normal: 400;
$font-bold: 700;
$font-black: 800;

// Font mixin

@mixin font($weight) {
  font-family: $font-stack;
  font-weight: $weight;
}
